body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.mb
{
    width: 80px;
    /*height: 32px;
    border: 1px solid red;*/
    border-radius: 20px;
}
/* Optional
main {
  margin: 20px auto;
}*/