{% extends 'base.html' %}

{% block title %}
  About
{% endblock %}

{% block content %}
  <h5>ABOUT US</h5>

  <p>
    Muse is an innovative CRUD programming project built using Flask and Python. It offers users the ability
    to create, read, update, and delete data easily and efficiently. With Muse, users can store and organize
    large amounts of data quickly and efficiently. It allows them to keep track of their data, make
    modifications when needed, and delete data they no longer need.
  </p>
  <p>
    Consectetur deleniti dolorum esse fugiat libero officia, saepe sunt temporibus ullam veritatis. Ab
    accusamus, architecto asperiores at autem distinctio doloremque dolorum eius eligendi eos est
    exercitationem fugit harum incidunt labore laboriosam molestias nulla numquam obcaecati optio quasi
    quos ratione reiciendis, totam unde!
  </p>
{% endblock %}